@use '../../../node_modules/@unsass/breakpoint';

.user-card {
    width: 100%;
    margin: 0;
    background-color: transparent;
    color: #999999;
    border: 1px solid #999999;
    border-radius: 20px;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        font-weight: 500;

        &:hover {
            color:#28e98c;
        }
    }

    @include breakpoint.up("desktop") {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        left: 4rem;
        width: 26rem;
        max-width: 26rem;
        padding: 4rem 4rem;
    }

    .contact-button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        background-color: #28e98c;
        padding: 1rem;
        border-radius: 40px;
        color: #1f1f1f;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        transition: all .2s ease-in-out;

    &:hover {
        background-color: transparent;
        color: #28e98c;
        border: 1px solid #28e98c;
    }
    }

    &__image {
        height: 18rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 20px;

        &__photo {
            filter: grayscale(1);
            width: 100%;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                filter: grayscale(0);
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

        &__name {
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 1rem;
            color: #FFF;
        }

        &__title {
            text-align: right;
            line-height: 1.2rem;
            color: #28e98c;
        }
    }

    &__footer {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        &__email {
            font-size: 1rem;
            color: #fff;
        }

        &__based {
            font-size: 1.2rem;
            color: #fff;
        }

        &__copyright {
            margin-top: 2rem;
            font-size: 1rem;
            text-align: center;
        }
    }

    &__social-links {
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

.social-button {
    border: 1px solid #999999;
    border-radius: 50%;
    padding: .8rem;

    &:hover {
        cursor: pointer;
        border: 1px solid #28e98c;
        color: #28e98c;
    }
}
