.home {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 1rem;
  overflow: hidden;
}
.container form {
  display: grid;
  width: 80%;
}
.container form label {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.container form input {
  border-radius: 10px;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid #999999;
  color: #fff;
  font-weight: 400;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 1079px) {
  .container form input {
    width: 100%;
  }
}
.container form input:focus {
  border: 1px solid #28e98c;
  outline: 0 none;
}
.container form textarea {
  border-radius: 10px;
  padding: 1rem;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 400;
  outline: 1px solid #999999;
}
.container form textarea:focus {
  border: 1px solid #28e98c;
  outline: 0 none;
}
@media (min-width: 320px) and (max-width: 1079px) {
  .container form textarea {
    width: 100%;
  }
}
.container section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 6rem;
  min-height: 50vh;
}
.container__header {
  font-size: 4.2rem;
  color: #fff;
  line-height: 3.6rem;
  font-weight: 400;
  line-height: 4.8rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .container__header {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}
@media (min-width: 1080px) and (max-width: 1199px) {
  .container {
    margin-left: 40%;
  }
  .container__header {
    line-height: 4.4rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    margin-left: 40%;
  }
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .container {
    margin-left: 18rem;
  }
}
@media (min-width: 1920px) {
  .container {
    margin-left: 6rem;
  }
}
.container p {
  line-height: 1.6rem;
}

.highlight {
  color: #28e98c;
}

.slug {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1rem;
  color: #fff;
}
.slug h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #999999;
  border-radius: 40px;
  color: #fff;
}

.introduction {
  min-height: 100vh;
  color: red;
}

.project-card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #999999;
  padding: 1rem;
  cursor: pointer;
}
.project-card:hover {
  border: 1px solid #28e98c;
}
.project-card__image {
  width: 100%;
  height: 20rem;
  background-image: url("../../assets/images/chat.png");
  border-radius: inherit;
  margin-bottom: 2rem;
}
.project-card a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}
.project-card a:hover {
  text-decoration: underline;
  color: #28e98c;
}

.project-image {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
  height: 20rem;
  width: 100%;
}

.service-card {
  min-width: 100%;
  border-radius: 20px;
  border: 1px solid #999999;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.service-card__header {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}
.service-card__header h2 {
  font-size: 1.4rem !important;
  color: #28e98c;
  font-weight: 500;
}
.service-card:hover {
  cursor: pointer;
  border-color: #28e98c;
}

.urgent {
  color: red;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  background-color: #28e98c;
  padding: 1rem;
  border-radius: 40px;
  color: #1f1f1f;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  visibility: visible;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: transparent;
  color: #28e98c;
  border: 1px solid #28e98c;
}

.skills-container {
  max-width: 100%;
  padding: 1rem;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0;
}
.skills-container .skill {
  padding: 1rem;
  border: 1px solid #999999;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}
.skills-container .skill:hover {
  border: 1px solid #28e98c;
}
.skills-container .skill img {
  max-width: 40%;
}
.skills-container .skill .skill__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}
.skills-container .skill .skill__header i {
  color: #28e98c;
  font-size: 1.6rem;
}
.skills-container .skill .skill__header h2 {
  font-size: 1rem;
  font-weight: 500;
}

.education-tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #999999;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.education-tile:hover {
  border: 1px solid #28e98c;
}
.education-tile__body {
  display: flex;
  flex-direction: column;
}
.education-tile__body p {
  margin-top: 2rem;
  line-height: 1.6rem;
}
.education-tile__body h2 {
  margin-top: 2rem;
}
.education-tile__body ul {
  margin-top: 1rem;
  padding-left: 40px;
}
.education-tile__body ul li {
  margin-top: 1rem;
  list-style: square;
}
.education-tile__body ul h2 {
  margin-top: 0rem;
}
.education-tile__body ul p {
  margin-top: 0;
}
.education-tile__header {
  display: flex;
  justify-content: space-between;
}
.education-tile__header__left {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.education-tile__header__left h2 {
  font-weight: 500;
  font-size: 1.2rem;
}
.education-tile__header__right {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: right;
}

.award-container {
  width: 100%;
  border: 1px solid #999999;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.award-container:hover {
  border: 1px solid #28e98c;
}
.award-container__header {
  display: flex;
  justify-content: space-between;
}
.award-container__header h2 {
  font-size: 1rem;
  font-weight: 500;
}
.award-container__body p {
  line-height: 1.6rem;
}
.award-container a {
  text-decoration: none;
  color: #28e98c;
}
.award-container a:visited {
  color: #28e98c;
}
.award-container a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=home.css.map */