@use '../../node_modules/@unsass/breakpoint';

.home {
    max-width: 1024px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
}

.container {
    padding: 1rem;
    
    form {
        display: grid;
        width: 80%;

        label {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        input {
            border-radius: 10px;
            padding: 1rem;
            background-color: transparent;
            border: 1px solid #999999;
            color:#fff;
            font-weight: 400;

            @include breakpoint.between("xs", "desktop") {
                width: 100%;
            }

            &:focus {
                border: 1px solid #28e98c;
                outline: 0 none;
            }
        }

        textarea {
            border-radius: 10px;
            padding: 1rem;
            background-color: transparent;
            border: none;
            color:#fff;
            font-weight: 400;
            outline: 1px solid #999999;

            &:focus {
                border: 1px solid #28e98c;
                outline: 0 none;
            }

            @include breakpoint.between("xs", "desktop") {
                width: 100%;
            }
        }
    }

    overflow: hidden;
    
    section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 6rem;
        min-height: 50vh;
    }
    
    &__header {
        font-size: 4.2rem;
        color: #fff;
        line-height: 3.6rem;
        font-weight: 400;
        line-height: 4.8rem;

        @include breakpoint.between("xs", "md") {
            font-size: 3.2rem;
            line-height: 3.2rem;
        }
    }

    @include breakpoint.between("desktop", "xl") {

        margin-left: 40%;
        &__header {
            line-height: 4.4rem;
            margin-bottom: 4rem;
        }
    }

    @include breakpoint.between("xl", "2xl") {
        margin-left: 40%;
    }

    @include breakpoint.between("2xl", "3xl") {
        margin-left: 18rem;
    }

    @include breakpoint.up("3xl") {
        margin-left: 6rem;
    }

    p {
        line-height: 1.6rem;
    }
}

.highlight {
    color: #28e98c;
}

.slug {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: 1rem;
    color: #fff;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .4rem;
        padding: .5rem .8rem;
        border: 1px solid #999999;
        border-radius: 40px;
        color: #fff;
    }
}

.introduction {
    min-height: 100vh;
}

.project-card {
    border-radius: 20px;

    &__image {
        width: 100%;
        height: 20rem;
        background-image: url('../../assets/images/chat.png');
        border-radius: inherit;
        margin-bottom: 2rem;
    }

    a {
        text-decoration: none;
        color: inherit;
        font-size: 2rem;
        transition: all .2s ease-in-out;

        &:hover {
            text-decoration: underline;
            color:#28e98c;
        }
    }
}

.service-card {
    min-width: 100%;
    border-radius: 20px;
    border: 1px solid #999999;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    &__header {
        h2 {
            font-size: 1.4rem !important;
        }

        min-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &:hover {
        cursor: pointer;
        border-color: #28e98c;
    }
}

.urgent {
    color: red;
}

.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    background-color: #28e98c;
    padding: 1rem;
    border-radius: 40px;
    color: #1f1f1f;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    visibility: visible;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: transparent;
        color: #28e98c;
        border: 1px solid #28e98c;
    }
}