@use '../../node_modules/@unsass/breakpoint';

.home {
    max-width: 1024px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.container {
    padding: 1rem;

    form {
        display: grid;
        width: 80%;

        label {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        input {
            border-radius: 10px;
            padding: 1rem;
            background-color: transparent;
            border: 1px solid #999999;
            color:#fff;
            font-weight: 400;
            width: 100%;

            @include breakpoint.between("xs", "desktop") {
                width: 100%;
            }

            &:focus {
                border: 1px solid #28e98c;
                outline: 0 none;
            }
        }

        textarea {
            border-radius: 10px;
            padding: 1rem;
            background-color: transparent;
            border: none;
            color:#fff;
            font-weight: 400;
            outline: 1px solid #999999;

            &:focus {
                border: 1px solid #28e98c;
                outline: 0 none;
            }

            @include breakpoint.between("xs", "desktop") {
                width: 100%;
            }
        }
    }

    overflow: hidden;

    section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 6rem;
        min-height: 50vh;
    }

    &__header {
        font-size: 4.2rem;
        color: #fff;
        line-height: 3.6rem;
        font-weight: 400;
        line-height: 4.8rem;

        @include breakpoint.between("xs", "md") {
            font-size: 3.2rem;
            line-height: 3.2rem;
        }
    }

    @include breakpoint.between("desktop", "xl") {

        margin-left: 40%;
        &__header {
            line-height: 4.4rem;
            margin-bottom: 4rem;
        }
    }

    @include breakpoint.between("xl", "2xl") {
        margin-left: 40%;
    }

    @include breakpoint.between("2xl", "3xl") {
        margin-left: 18rem;
    }

    @include breakpoint.up("3xl") {
        margin-left: 6rem;
    }

    p {
        line-height: 1.6rem;
    }
}

.highlight {
    color: #28e98c;
}

.slug {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: 1rem;
    color: #fff;

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .4rem;
        padding: .5rem .8rem;
        border: 1px solid #999999;
        border-radius: 40px;
        color: #fff;
    }
}

.introduction {
    min-height: 100vh;
    color: red;
}

.project-card {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #999999;
    padding: 1rem;
    cursor: pointer;

    &:hover {
        border: 1px solid #28e98c;
    }

    &__image {
        width: 100%;
        height: 20rem;
        background-image: url('../../assets/images/chat.png');
        border-radius: inherit;
        margin-bottom: 2rem;
    }

    a {
        text-decoration: none;
        color: inherit;
        font-size: 2rem;
        transition: all .2s ease-in-out;

        &:hover {
            text-decoration: underline;
            color:#28e98c;
        }
    }
}

.project-image {
    border-radius: 20px;
    object-fit:cover;
    background-attachment: fixed;
    height: 20rem;
    width: 100%;
}

.service-card {
    min-width: 100%;
    border-radius: 20px;
    border: 1px solid #999999;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    &__header {
        h2 {
            font-size: 1.4rem !important;
            color: #28e98c;
            font-weight: 500;
        }

        min-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &:hover {
        cursor: pointer;
        border-color: #28e98c;
    }
}

.urgent {
    color: red;
}

.button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    background-color: #28e98c;
    padding: 1rem;
    border-radius: 40px;
    color: #1f1f1f;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    visibility: visible;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: transparent;
        color: #28e98c;
        border: 1px solid #28e98c;
    }
}

.skills-container {
    max-width: 100%;
    padding: 1rem;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0;

    .skill {
        padding: 1rem;
        border: 1px solid #999999;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;

        &:hover {
            border: 1px solid #28e98c;
        }

        img {
            max-width: 40%;
        }

        .skill__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
            width: 100%;

            i {
                color: #28e98c;
                font-size: 1.6rem;
            }

            h2 {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
}

.education-tile {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #999999;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;

    overflow: hidden;


    &:hover {
        border: 1px solid #28e98c;
    }

    &__body {
        display: flex;
        flex-direction: column;

        p {
            margin-top: 2rem;
            line-height: 1.6rem;
        }

        h2 {
            margin-top: 2rem;
        }

        ul {
            margin-top: 1rem;
            padding-left: 40px;

            li {
                margin-top: 1rem;
                list-style:square;
            }

            h2 {
                margin-top: 0rem;
            }

            p {
                margin-top: 0;
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

        &__left {
            display: flex;
            flex-direction: column;
            gap: .2rem;

            h2 {
                font-weight: 500;
                font-size: 1.2rem;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            gap: .2rem;
            text-align: right;
        }
    }

}

.award-container {
    width: 100%;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:hover {
        border: 1px solid #28e98c;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        h2 {
            font-size: 1rem;
            font-weight: 500;
        }
    }

    &__body {
        p {
            line-height: 1.6rem;
        }
    }

    a {
        text-decoration: none;
        color: #28e98c;

        &:visited {
            color: #28e98c;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
